/****** Main CSS ******/

#back_arrow{
	font-size: 58px;
	margin-left: 30px;
	color:
	#373737;
	position: fixed;
	visibility: hidden;
}

#back_arrow:hover{
	cursor: pointer;
}

#title{
	margin-top: 15px;
}

.btn-success{
	background-color: #407be3 !important;
	border-color: #1e4fa6 !important;
	padding: 15px !important;
}

#clients, #client_details{
	background-color: #fafafa !important;
	margin-top: 30px;
}

#Windows10_Mail, #Windows_Live_Mail , #kMail, #Evolution, #Trojita{
	background-color: #eaeaea !important;
	border-color: #2b2b2b !important;
}

/****** client_details page ******/

#client_details{
	display: none;
}

.client_name{
	display : inline;
}

/*** path zone ***/
#path{
	margin-bottom: 51px;
	margin-top: 28px;
	display: none;
}

#path_text{
	display: inline;
}

#path_input{
	width: 250px;
	display: inline;
	margin-left: 17px;
	margin-right: 25px;
}

#path_button{
	padding: 7px !important;
}

/*** verison zone ***/
#version{
	margin-bottom: 46px;
}

#version_text{
	display: inline;
}

.version_button{
	padding: 7px !important;
	margin-left: 10px;
}

#version_number{
	font-size: 18px;
}

/*** vulnerable zone ***/
#vulnerable{
	margin-bottom: 46px;
}

#vulnerable_yes{
	/*display: none;*/
	color: #df1616;
	font-size: 18px;
}

#vulnerable_no{
	color: #109310;
	font-size: 18px;
}